@import "normalize-scss/normalize";
@import "compass/css3/transition";
@import "compass/css3/transform";

$lightBlue: #c4e8e4;
$blue: #0066ff;
$blueGrey: #778899;

$backgroundColor: $lightBlue;
$foregroundColor: $blue;
$highlightColor: $blueGrey;

@mixin normalColor {
  @include transition(background 1000ms, color 1000ms);

  background: $backgroundColor;
  color: $foregroundColor;

  .dark &, &.dark {
    background: $highlightColor !important;
    color: $backgroundColor;
  }
}

@mixin borderColor {
  border-color: $foregroundColor;

  .dark & {
    border-color: $backgroundColor;
  }
}

@mixin wire {
  height: 0px;
  border-top: 3px dotted;
  @include borderColor;
}

::selection {
  background: $highlightColor;
  color: $backgroundColor;
}

@import "_index.scss";

#resume {
  h2, h3, b {
    text-transform: uppercase;
  }
}

.contact-information {
  h1 {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
  }
}
