@import "normalize-scss/normalize";
@import "compass/css3/transition";
@import "compass/css3/transform";

@import "_index.scss";

#resume {
  h4, h3, b {
    text-transform: uppercase;
  }
}

.contact-information {
  h1 {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
  }
}
